.LoginForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 460px;
    max-height: 320px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-elements);

    .title {
        width: 100%;
        font-size: 28px;
        margin-bottom: 32px;
        color: #1c1c1eff;
    }

    .content {
        height: 100%;
    }

    .content * {
        margin-bottom: 20px;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
