.Button {
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.contained {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.outlined {
    border: 2px solid #1c1c1eff;
    color: #1c1c1eff;
    background-color: initial;
    padding: 8.5px 13.5px;
}

.text {
    background-color: initial;
    color: #1c1c1eff;
}

.disabled {
    cursor: initial;
    opacity: 0.5;
}
