.Button {
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 0;
    border: none;
    cursor: pointer;

    &__contained {
        background-color: var(--secondary-color);
        color: var(--bg-color);
    }

    &__outlined {
        border: 1.5px solid var(--secondary-color);
        background-color: initial;
        padding: 8.5px 13.5px;
    }

    &__text {
        background-color: initial;
    }
}
