.Sidebar {
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 100px;
    --sidebar-bg-color: #dcddd8;
    --sidebar-color: #6f6f6d;
    --sidebar-color-active: #020101;

    height: 100vh;
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg-color);
    transition: width 0.2s ease-in-out;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .collapseBtn {
        cursor: pointer;
        position: absolute;
        border: 2px solid var(--bg-color);
        display: flex;
        align-items: center;
        padding: 10px;
        right: -40px;
        top: 40px;
        color: var(--bg-color);
        background-color: var(--sidebar-bg-color);
    }

    &__header {
        position: relative;
        width: 100%;

        .logo {
            font-size: 26px;
            font-weight: 700;
            color: #1c1c1eff;
        }
    }

    &__main {
        color: var(--sidebar-color);
        width: 100%;
        flex-grow: 0.5;

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .listItem {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            cursor: pointer;
            padding: 12px;
            margin-bottom: 20px;

            .icon {
                font-size: 20px;
            }

            .text {
                font-size: 18px;
                font-weight: bold;
                margin-left: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .active {
            background-color: var(--primary-color);
            color: #1c1c1e;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .listItem {
        justify-content: center;

        .text {
            display: none;
        }
    }
}
